{% if content.image %}
    {% set imageHtml %}
        <img src="{{ dotcms_host }}/dA/{{ content.identifier }}/image" 
             alt="{{ content.title|default('')|e('html_attr') }}">
    {% endset %}
{% endif %}

<div class="banner-hero">
    {% if content.image %}
        <div class="banner-image">
            {{ imageHtml|raw }}
        </div>
    {% endif %}
    <div class="banner-overlay">
        <div class="banner-content">
            {% if content.title %}
                <h1 class="banner-title">{{ content.title }}</h1>
            {% endif %}
            {% if content.caption|default('') %}
                <p class="banner-caption">{{ content.caption }}</p>
            {% endif %}
            {% if content.buttonText|default('') %}
                <a href="{{ content.link|default('#') }}" class="banner-button">
                    {{ content.buttonText }}
                </a>
            {% endif %}
        </div>
    </div>
</div> 