{# Navigation component for DotCMS #}
<nav class="header-navigation">
    <ul class="nav-list">
        {% if navigation is defined and navigation is not null %}
            {% for item in navigation.children %}
                <li class="nav-item">
                    <a href="{{ item.href }}" target="{{ item.target }}" class="nav-link">{{ item.title|title }}</a>
                    {% if item.children is defined and item.children is not empty %}
                        <ul class="nav-dropdown">
                            {% for child in item.children %}
                                <li class="nav-dropdown-item">
                                    <a href="{{ child.href }}" target="{{ child.target }}" class="nav-dropdown-link">{{ child.title|title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav> 